<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('notification', function (data) {
            alert(data.message);
        });
    </script>
</head>
<body>
    <h1>Notifications</h1>
    <p>Users will be notified of updates every 5 seconds.</p>
</body>
</html>
